* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-1 {
    background-image: url("./Vector\ Smart\ Object\ \(1\).png")
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adress {
    height: 50px;
    filter: drop-shadow(-1.2246467996456087e-15px 20px 40px rgba(0, 0, 0, 0.15));
    background: rgba(0, 0, 0, 0.4);

}

.head {
    height: 95px;
    filter: drop-shadow(-1.2246467996456087e-15px 20px 40px rgba(0, 0, 0, 0.15));
    background: rgba(0, 0, 0, 0.17);
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.phone {
    display: flex;
    flex-direction: row;
}

.meil {
    margin-left: 79px;
    width: 200px;
}

.meil img {

    width: 18px;
    height: 14px;
    opacity: 0.40;
}

.meil span {
    margin-right: 5%;
    margin-left: 3%;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #ffffff;
}

.social-media img {
    margin-left: 20px;
}

.noxia {
    margin-left: 370px;
    margin-right: 280px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 55px;
    text-align: left;

}

.noxia span {
    color: #ee3364;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.meniu div {
    font-size: 18px;
    line-height: 36px;
    text-align: left;
}

.meniu div:hover {
    color: #ee3364;
}

.meniu div:not(:last-child) {
    margin-right: 44px;
}

.meniu div:last-child {
    margin-right: 140px;
}

.search img {
    width: 21px;
    height: 21px;
    margin-right: 20px;
}

.agency-title {
    margin-left: 368px;
    margin-top: 230px;
    width: 630px;
    font-family: "Muli-Regular";
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    font-style: normal;

    color: #ffffff;
}

.agency-title :first-child {
    font-size: 80px;
    line-height: 87px;
    text-align: left;
    margin-bottom: 20px;
}

.agency-title-child {
    margin-bottom: 30px;
    width: 514px;
}

.sand-message {
    width: 180px;
    height: 58px;
    background: #ee3364;
    text-align: center;
    line-height: 52px;
    margin-bottom: 160px;
    color: #ffffff;
}

.agency img {
    Width: 711px;
    Height: 711px;

}

.page-2 {
    font-family: 'Mulish', sans-serif;
    margin-top: 100px;
}

.title-2 {
    width: 700px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 51px;
}

.grid-1 {
    /* display: grid;
    grid-template-columns: 362px 362px 362px;
    height: 292px;
    column-gap: 46px;*/
    display: flex;
    width: 1178px;
    justify-content: space-around;
    margin-bottom: 86px;
}

.grid-1-item {
    width: 362px;
    height: 292px;
    padding-left: 42px;
    padding-right: 21px;
    background-color: #edf7ff;
}

.grid-1-item :last-child {
    font-family: "Muli-Regular";
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #838383;


}

.grid-1-title {
    font-family: "GlacialIndifference-Bold";
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    color: #2e2e2e;
    margin-bottom: 29px;
}

.circle {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: 50px;
    margin-bottom: 10px;
}

.circle img {
    width: 41px;
    height: 41px;
    margin-top: 23px;
    margin-left: 21px;
}

.grid-1 :hover {
    border-color: #ee3364;
    border-width: 3px;
    border-style: solid;
    filter: drop-shadow(8px 13.856406211853027px 21.5px rgba(121, 121, 121, 0.48));
    background: #ffffff;
}

.grid-1-item:hover .circle {
    background-color: #ee3364;

}

.grid-1-item:hover .grid-1-title {
    border-style: none;
    filter: none;
}

.grid-1-item:hover :last-child {
    border-style: none;
    filter: none;
}

.grid-1-item:hover .circle img {
    border-style: none;
    filter: none;
    background-color: #ee3364;
}

.mb {
    margin-bottom: 140px;
}

.page-3 {
    background-color: #edf7ff;
    padding-left: 300px;
}

.journey {
    width: 650px;
    margin-bottom: 83px;
}

.title-3 {
    width: 412px;
    font-family: "GlacialIndifference-Bold";
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    color: #000000;
    margin-top: 107px;
    margin-bottom: 37px;
    margin-left: 30px;
    margin-right: 81px;
}

.under-title {
    font-family: "Muli-Regular";
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #484848;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 81px;
}

.Michael {
    margin-left: 7px;
}


.Michael span {
    margin-top: 30px;
    margin-left: 27px;
}

.Michael span :last-child {
    font-family: "GlacialIndifference-Regular";
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    color: #7e7e7e;
}

.Michael span :first-child {
    font-size: 24px;
    margin-bottom: 5px;
}

.title-3 {
    font-family: "GlacialIndifference-Bold";
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    color: #000000;
}

.skills-box {
    margin-left: 35px;
    width: 560px;
    font-family: "GlacialIndifference-Regular";
    font-size: 16px;
    text-align: left;
    color: #373737;
}

.mr {
    margin-right: 359px;
}

.skill-line {
    margin-top: 12px;
    margin-bottom: 29px;
    height: 10px;
    background-color: #ffffff;
}

.skil-level {
    background-color: #EE3364;
    width: 100%;
    height: 10px;
}

.page-4 {
    text-align: center;
    color: #ffffff;
    background-color: #FF434B;
}

.page-4 div:nth-child(1) {
    margin-top: 144px;
    margin-bottom: 11px;
    font-family: "Muli";
    font-size: 16px;
    line-height: 23px;

}

.page-4 :nth-child(2) {
    width: 777px;
    margin-bottom: 87px;
    font-size: 45px;
    line-height: 47px;
    font-style: normal;

}

.page-4 :nth-child(3) {
    width: 40px;
    height: 4opx;
    margin-bottom: 31px;
}

.page-4 img {
    width: 24px;
    height: 27px;
}

.page-4 :nth-child(4) {
    font-size: 14px;
    line-height: 34.9999885559082px;

    margin-bottom: 160px;
}

.page-5 {
    height: 310px;
    background: #1b1b1b;
    display: flex;
    flex-direction: raw;
    align-items: center;
    padding-left: 377px;
    justify-content: space-between;
    padding-right: 300px;
}

.circ {
    margin-right: 20px;
    width: 113px;
    height: 113px;
    border-radius: 50%;
    background-color: #2d2c2c;

}

.notif {
    display: flex;
    flex-direction: raw;
}

.k {
    font-family: "GlacialIndifference-Regular";
    font-size: 24px;
    line-height: 36px;
    margin-top: 25PX;
    color: #cfcfcf;
}

.k :not(:last-child) {
    font-size: 40px;
    font-weight: bolder;

}

.page-6 {}

.yellow-cube {
    margin-top: 141px;
    margin-left: 362px;
    position: relative;
    margin-bottom: 188px;
}

.cube-1 {
    width: 426px;
    height: 547px;
    background: #ffa723;
}

.cube-2 {
    position: absolute;
    top: 48px;
    left: 77px;
    width: 426px;
    height: 547px;
    background: #ffa723;
    filter: drop-shadow(8.5px 14.722432136535645px 25px rgba(0, 0, 0, 0.29));
}

.Innovative {
    margin-top: 189px;
    margin-left: 174px;
    text-align: left;
}

.Innovative-1 {
    width: 540px;
    font-family: "GlacialIndifference-Bold";
    font-size: 45px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #1c1c1c;
    margin-bottom: 29px;
}

.Innovative-2 {
    width: 550px;
    font-family: "Muli-Regular";
    font-size: 16px;
    line-height: 25px;
    color: #8b8b8b;
    margin-bottom: 19px;
}

.Innovative-3 ul {
    list-style-image: url('./.png');
    line-height: 40px;
    font-family: "Muli-Regular";
}

.Innovative-3 {
    margin-left: 26px;
    margin-bottom: 30px;
}

.page-7 {
    background-color: #f2f2f2;

}

.Highlight {
    margin-top: 136px;
    margin-bottom: 55px;
}

.Highlight :last-child {
    width: 731px;
    font-family: "GlacialIndifference-Bold";
    font-size: 65px;
    line-height: 36px;
    color: #222222;
    margin-top: 11px;
}

.pink {
    font-family: "GlacialIndifference-Bold";
    font-size: 15px;
    line-height: 36px;
    color: #ee3364;
    text-align: center;

}

.galery {
    display: grid;
    grid-template-columns: 587px 587px;
    grid-template-rows: 730px 730px 730px;
    margin-bottom: 140px;
}

.c2c2c {
    background-color: #2c2c2c;
}

.d3d3d3 {
    background-color: #d3d3d3;
}

.c5c5c {
    background-color: #5c5c5c;
}

.a353535 {
    background-color: #353535;
}

.a3a3a {
    background-color: #3a3a3a;
}

.galery-text {
    margin-top: 240px;
    margin-left: 150px;
    width: 282px;
    color: #ffffff;
    font-family: "GlacialIndifference-Bold";
}

.galery-text-child-1 {
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 22px;

}

.galery-text-child-2 {
    font-family: "Muli-Regular";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 23px;
}

.galery-text-child-3 {
    text-align: center;
}

.galery-text-child-3 img {
    width: 22px;
    height: 16px;
}

.mb-140 {
    margin-bottom: 140px;
}

.page-8 {
    margin-top: 137px;
}

.window {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 30px;
    height: 530px;
    margin-top: 25px;
    margin-bottom: 150px;

}

.window-child {

    display: flex;
    justify-content: center;
    border-color: #eeeeee;
    border-width: 4px;
    border-style: solid;
    background: #ffffff;

}

.window-child .plan {
    font-family: "GlacialIndifference-Bold";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #0b0b0b;
    margin-bottom: 10px;
}

.window-child img {
    width: 121px;
    height: 90px;
    margin-bottom: 32px;
    margin-top: 20px;
}

.coin {
    font-family: "Cambay-Regular";
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #636363;
    margin-bottom: 20px;
}

.button {
    width: 180px;
    height: 50px;
    background: #1e1e1e;
    font-family: "Muli-Bold";
    font-size: 12px;
    line-height: 90px;
    text-align: center;
    color: #ffffff;
}

.window :hover {
    background-color: #EE3364;
    color: #ffffff;
    filter: drop-shadow(8px 13.856406211853027px 21.5px rgba(121, 121, 121, 0.48));
}

.window-child:hover .button {
    filter: none;
    background-color: #EE3364;
    color: #ffffff;
    border: #ffffff 2px solid;
}

.window-child:hover .plan {
    filter: none;
    color: #ffffff;
}

.window-child:hover img {
    filter: none;
    color: #ffffff;
}

.window-child:hover .coin {
    filter: none;
    color: #ffffff;
}

.window-child:hover .coin div {
    filter: none;
    color: #ffffff;
}

.window-child:hover div {
    filter: none;
    color: #ffffff;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 574px;
    /* margin-bottom: 134px; */
}

.bbbbbb {
    background-color: #bbbbbb;
    height: 574px;

}

.d0d0d0 {
    height: 574px;
    background-color: #d0d0d0;
}

.lora {
    position: relative;
    height: 574px;
}

.black-back {
    height: 574px;
    width: 386px;
    background-color: #242424;
}

.contact {
    position: absolute;
    top: 384px;
    left: 163px;
}

.job {
    position: absolute;
    top: 298px;
    left: 125px;

}

.salima {
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 33.83103942871094px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
}

.uxd {
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 33.83103942871094px;
    text-align: center;
    letter-spacing: 2px;
    color: #ffffff;
}

.contact img {
    width: 27px;
    height: 25px;

}

.pink-glass {
    position: absolute;
    top: 12px;
    left: 17px;
    width: 355px;
    height: 552px;
    opacity: 0.89;
    background: #ee3364;
}

.page-10 {
    background-color: #f2f2f2;
    position: relative;
    height: 708px;
}

.astronaut {
    /* position: absolute;
top:-191px;
left:94px; */
    margin-top: -191px;
    margin-left: 40px;
    width: 591px;
    height: 864px;
}

.ml-90 {
    margin-left: 90px;
}

.Leading-the-way {
    font-family: "GlacialIndifference-Bold";
    font-size: 50px;
    line-height: 50px;
    text-align: left;
    color: #2b2b2b;
    margin-top: 191PX;
    width: 810.7px;
    margin-bottom: 10PX;
}

.Lorem-ipsum {
    width: 727px;
    font-family: "Muli-Regular";
    font-size: 20px;
    font-weight: normal;
    line-height: 38px;
    font-style: normal;
    text-align: left;
    color: #2e2e2e;

    margin-bottom: 73px;
}

.comet-2 {
    width: 318px;
    height: 255px;
    position: absolute;
    top: 406px;
    right: 0px;
}

.comet-1 {
    position: absolute;
    width: 101px;
    height: 265px;
    left: 20px;
    top: 149px;

}

.input {
    /* width: 727px;
height: 132.9px; */
    display: flex;
    flex-direction: row;
}

.input-child {
    margin-right: 23px;

}


.input-1 input[type=text] {
    width: 350px;
    height: 53.5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #cacaca;
    border-radius: 4px;
    background: #cacaca;
}

.input-2 input[type=text] {
    width: 350px;
    height: 53.5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ee3364;
    ;
    border-radius: 4px;
    background: #ffffff;
    margin-bottom: 10px;
}

.input-4 {
    position: relative;
}

.button-a {
    position: absolute;
    width: 350px;
    height: 53.5px;
    background: #ee3364;
    border: 2px solid #ee3364;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    margin: 4px 2px;
    border-radius: 4px;
    display: inline-block;

}

.woman {
    margin-top: 138px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}

.woman .black-pic {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: #000000;
    margin-left: 62px;
    margin-right: 62px;
   
}

.woman img {
    margin-top: 30px;
    width: 85px;
    height: 60px;}

.malujt {
    width: 700px;
    text-align: center;
    margin-bottom: 106px;
}

.looeo {
    font-family: "GlacialIndifference-Bold";
    font-size: 22px;
    line-height: 27px;
    color: #303030;
}

.Peerio {
    font-family: "Muli";
    font-size: 14px;
    line-height: 27px;
    color: #c4c4c4;
    margin-bottom: 21px;
}

.Ash {
    font-family: "OpenSans-Extrabold";
    font-size: 17px;
    line-height: 27px;
    color: #8d8d8d;


}

.point4 {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 17px 17px 17px 17px;
    margin-left: 47%;
}

.point {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    /* margin-left: 8px; */

}

.black {
    background-color: #000000;
}

.e3e3e3 {
    background-color: #e3e3e3;
}

.openususe img {
    margin-right: 141px;
}

.openususe {
    margin-left: 220px;
    margin-bottom: 138px;
}
.page-12 {
    background-color: #282828;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.black-area {
    height: 82px;
    width: 100%;
    background-color: #171717;
    top: 428px;
}
    
.page-12-title {
     width: 550px;
}

.page-12-title-item {

    font-family: "Roboto-Regular";
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #a5a5a5;
    margin-bottom: 50px;
}

.w {
    margin-left: 35%;
    width: 55px;
    font-family: "Poppins-ExtraBold";
    font-size: 45.719810485839844px;
    line-height: 76.1996841430664px;
    font-weight: bolder;
    letter-spacing: 10px;
    color: #a5a5a5;
    margin-bottom: 10px;
}

.page-12-title :last-child {

    margin-left: 23%;
}

.page-12-title :last-child img {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.black-area div {
    font-family: "Muli";
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #A0A8B7;
    margin-top: 1.5%;
}

.black-area div span {
    color: #FFFFFF;
    font-weight: 400;
}
.noxia-1 {
margin-top: 128px;
    font-family: "Poppins-ExtraBold";
    font-size: 46px;
    font-weight:bold;
    line-height: 76.1996841430664px;
    font-style: normal;
    letter-spacing: 2px;
}
.noxia-1 :last-child {
    color: #ee3364;
}
